 .u-section-1 {
  min-height: 847px;
}

.u-section-1 .u-shape-1 {
  height: 483px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 572px;
  min-height: 423px;
  margin: -423px auto 0 calc(((100% - 1140px) / 2) + 231px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 21px auto 0 0;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -96px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 246px;
  height: 368px;
  margin: 32px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 400px;
  background-image: url("images/FullSizeRender.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 400px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 402px;
  margin: -111px 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 829px;
  }

  .u-section-1 .u-group-1 {
    width: 478px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 352px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-image-2 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 382px;
  }

  .u-section-1 .u-image-3 {
    width: 205px;
    height: 306px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1511px;
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-1 .u-image-2 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 585px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1950px;
  }

  .u-section-1 .u-shape-1 {
    height: 533px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -513px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-1 .u-image-1 {
    height: 284px;
    margin-top: 96px;
    margin-left: 2px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 376px;
  }

  .u-section-1 .u-image-3 {
    width: 334px;
    height: 399px;
    margin-top: -53px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1505px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 376px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: auto;
    margin-bottom: -76px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-1 .u-image-1 {
    height: 223px;
    margin-top: 108px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-1 .u-image-2 {
    min-height: 458px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 323px;
  }

  .u-section-1 .u-image-3 {
    width: 249px;
    height: 349px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 897px;
}

.u-section-2 .u-list-1 {
  margin-top: 70px;
  margin-bottom: 48px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 625px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 10px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: -28px 0 0 340px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-decoration: underline !important;
  margin: 29px auto 0 340px;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 10px 60px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: -28px 0 0 340px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-decoration: underline !important;
  margin: 29px auto 0 340px;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 10px 60px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: -28px 0 0 340px;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-decoration: underline !important;
  margin: 29px auto 0 340px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    margin-left: 140px;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
    margin-left: 140px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 140px;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-2 {
    border-style: solid;
    margin-left: 140px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 140px;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-3 {
    border-style: solid;
    margin-left: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -28px;
    margin-left: 314px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 228px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -28px;
    margin-left: 314px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 228px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -28px;
    margin-left: 314px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 228px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 134px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 134px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 134px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 134px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: 134px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 134px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 747px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-3 .u-image-1 {
  min-height: 647px;
  background-image: url("images/IMG_1987.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-3 .u-image-1 {
    min-height: 601px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-image-1 {
    min-height: 490px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-3 .u-image-1 {
    min-height: 630px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -11px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-image-1 {
    min-height: 386px;
  }
}